<div id="footer" class="padding2 container-fluid alignCenter">
<p>
<% for( var i of data['info'] ) { %>
	<p class="line-height-70">
	<% if(i['json']) { %>
		<%= i['name'] %> | <a href="<%= JSON.parse(i['json'])['link'] %>" class="infolink">
			<%= JSON.parse(i['json'])['info'] %></a> 
	<% } else { %>
		<%= i['name'] %>
	<% } %>
	</p>
<% } %>
</p>
<p>Thomas Tackle & Seafood</p>
</div>
