<nav class="navbar navbar-expand-md container-fluid">
        <div class="navbar-brand">
                <h1 class="margin0 brand">Thomas Tackle & Seafood</h1>
               	<p class="margin0 alignCenter">fresh seafood daily, since 1955</p> 
		</div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbar-content" aria-expanded="false" aria-label="toggle nav">
                <span class="navbar-toggler-icon"><img src="menu.png"></span>
        </button>
		
        <div class="collapse navbar-collapse" id="navbarContent">
		  <ul class="nav navbar-nav ml-auto">
		    <li class="nav-item"><a href="/" class="nav-link alignCenter">home</a></li>
			<li class="nav-item"><a href="seafood" class="nav-link alignCenter">seafood & recipes</a></li>
		  	<li class="nav-item"><a href="about" class="nav-link alignCenter">about us</a></li>
			<li class="nav-item"><a href="contact" class="nav-link alignCenter">contact</a></li>
		  </ul> 
        </div>
</nav>
<hr>
