<div class="container-fluid alignCenter">
<h2>Who are we?</h2>
<p>Family owned and operated seafood and tackle store providing fresh seafood and produce to the Topsail Island community for 60 years</p>

<p>Rotating pictures: store, sign, fish, produce</p>

</div>
