<div class="padding2 container-fluid alignCenter">
<h2 class="font-acme">Who are we?</h2>
<p>Family owned and operated for 3 generations, our seafood and tackle store has provided fresh 
	seafood and produce to the Topsail Island community for over 60 years.</p>

<p>Rotating pictures: store, sign, fish, produce</p>
</div>

