<div class="alignCenter padding2 container-fluid">
<h2 class="font-acme">seafood</h2>

<p>We offer a large variety of seafood. Our selection is mostly local, but we also offer non-local seafood as well. </p>
<p>This is a list of all of our seafood we carry. Our selection varies daily depending on what our fishermen catch.</p>

<h3 class="font-acme">Shellfish</h3>
<ul class="alignCenter">
	<div class="row">
	<% for( var i of data['shellfish'] ) { %>	
		<div class="col-3"><li><%= i['name'] %></li></div>
	<% } %>
	<% if( access ) { %>
		<div class="col-3"><li class="add" id="add-shellfish"><p>add shellfish</p></li></div>
	<% } %>
	</div>
</ul>
<h3 class="font-acme">Fish</h3>
<ul class="alignCenter">
	<div class="row">
	<% for( var i of data['fish'] ) { %>	
		<div class="col-3"><li><%= i['name'] %></li></div>
	<% } %>
	<% if( access ) { %>
		<div class="col-3"><li class="add" id="add-fish"><p>add fish</p></li></div>
	<% } %>
	</div>
</ul>

<h2 class="font-acme">recipes</h2>
<p>Here are some recipes we love and reccomend: </p>
<ul class="alignCenter">
	<div class="row">
	<% for( var i of data['recipes'] ) { %>	
		<div class="col-3"><li><%= i['name'] %></li></div>
	<% } %>
	<% if( access ) { %>
		<div class="col-3"><li class="add" id="add-recipes"><p>add recipe</p></li></div>
	<% } %>
	</div>
</ul>

</div>
