<div class="alignCenter padding2 container-fluid">
<h2 class="font-acme">seafood</h2>

<p>We offer a large variety of seafood. Our selection is mostly local, but we also offer non-local seafood as well. </p>
<p>This is a list of all of our seafood we carry. Our selection varies daily depending on what our fishermen catch.</p>
<h2 class="font-acme">recipes</h2>
<p>Here are some recipes we love and reccomend: </p>
</div>
